.startVideoDiv {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.userPictureDiv {
	position: absolute;
	filter: invert(100%);
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 0;
}
#upperText {
	position: absolute;
	top: 25%;
	right: 20%;
}
#downerText {
	position: absolute;
	bottom: 25%;
	left: 25%;
}
#leftText {
	position: absolute;
	top: 35%;
	left: 20%;
}
#rightText {
	position: absolute;
	bottom: 35%;
	right: 20%;
}
.copyrightText {
	color: #777;
	display: flex;
	justify-content: center;
}